@font-face {
  font-family: "GT Walsheim";
  src: url("https://aquarial.ml/GTWalsheimPro-Regular.ttf");
}

@font-face {
  font-family: "GT Walsheim Bold";
  src: url("https://aquarial.ml/GTWalsheimPro-Bold.ttf");
}

h1, h2, h3, h4, strong {
	font-family: "GT Walsheim Bold", sans-serif;
}

body, input, button {
	font-family: "GT Walsheim", sans-serif;	
}
