@font-face {
  font-family: "GT Walsheim";
  src: url("https://aquarial.ml/GTWalsheimPro-Regular.ttf");
}

@font-face {
  font-family: "GT Walsheim Bold";
  src: url("https://aquarial.ml/GTWalsheimPro-Bold.ttf");
}
